---
const today = new Date()
import { Icon } from 'astro-icon'
---

<footer>
  &copy; {today.getFullYear()}
  <a href='https://github.com/kcole93'
    ><Icon name='lucide:github' class='icon' />Kevin Cole</a
  >.
</footer><a href=''>
  <style>
    footer {
      padding: 25px;
      text-align: center;
    }

    .icon {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  </style>
</a>
